/**
 * Global styles for Obojima Calendar
 */

@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.6;
  color: $color-text-primary;
  background-color: $color-background;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-display;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  margin-bottom: $spacing-md;
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-lg;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;

  &:focus {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }
}

a {
  color: $color-secondary;
  text-decoration: none;
  transition: color $transition-fast;

  &:hover {
    color: $color-accent;
  }
}
